@model Order

<form method="get">
@* 	<input asp-for="Item.Id" type="hidden" />
	<input asp-for="Order.ItemName" type="hidden" />
	<input asp-for="Order.BorrowerId" type="hidden" />
	<input asp-for="Order.LenderId" type="hidden" /> *@
	@* <input asp-for="Item.ImageUrl" hidden /> *@
	<div class="row">
		<div class="col-12">
			<div class="border p-3 mt-4">
				<div class="row pb-2">
					<h3>Order details</h3>
				</div>
				<hr />
				<div class="mb-3 row p-1">
					<label asp-for="ItemName" class="p-0">Item name:</label>
					<input asp-for="ItemName" type="text" class="form-control" disabled />
					<span asp-validation-for="ItemName" class="text-danger"></span>
				</div>
				<div class="mb-3 col-3 row p-1">
					<label asp-for="RentTime" class="p-0">Days for rent:</label>
					<input asp-for="RentTime" type="number" class="form-control" disabled />
					<span asp-validation-for="RentTime" class="text-danger"></span>
				</div>
				<div class="mb-3 row p-1">
					<label asp-for="Lender.UserName" class="p-0">Lender:</label>
					<input asp-for="Lender.UserName" type="text" class="form-control" disabled />
					<span asp-validation-for="Lender.UserName" class="text-danger"></span>
				</div>
				<div class="mb-3 col-3 row p-1">
					<label asp-for="Lender.PhoneNumber" class="p-0">Lender phone:</label>
					<input asp-for="Lender.PhoneNumber" type="text" class="form-control" disabled />
					<span asp-validation-for="Lender.PhoneNumber" class="text-danger"></span>
				</div>
				<div class="mb-3 col-3 row p-1">
					<label asp-for="Borrower.UserName" class="p-0">Borrower:</label>
					<input asp-for="Borrower.UserName" type="text" class="form-control" disabled />
					<span asp-validation-for="Borrower.UserName" class="text-danger"></span>
				</div>
				<div class="mb-3 col-3 row p-1">
					<label asp-for="Borrower.PhoneNumber" class="p-0">Borrower phone:</label>
					<input asp-for="Borrower.PhoneNumber" type="text" class="form-control" disabled />
					<span asp-validation-for="Borrower.PhoneNumber" class="text-danger"></span>
				</div>
				<div class="row">
					@* <div class="col-6 col-md-3">
						<button type="submit" class="btn btn-primary form-control">Make an order!</button>
					</div> *@
					<div class="col-6 col-md-3">
						<a asp-controller="Order" asp-action="Index" class="btn btn-light form-control">Back to items</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}

