@model IEnumerable<Order>

<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<h2>Your orders!</h2>
		</div>
	</div>

	<table id="tblData" class="table table-bordered table-striped" style="width:100%;">
		<thead>
			<tr>
				<th>
					Item name
				</th>
				<th>
					Lender
				</th>
				<th>
					Borrower
				</th>
				<th>
					Rent time
				</th>
			</tr>
		</thead>
	</table>
</div>

@section Scripts{
	<script src="~/js/order.js"></script>
}